{% extends 'base.html' %}
{% block content %}
  <div class="container">
      <ul class="list-group">
        {% for launch in launches %}
        <li class="list-group-item">
            <a class="launch-area">
              <div class="row text-center">
                <h4><a class="launch-name" href="/launch/{{ launch.name }}">{{ launch.name }}</a></h4>
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                  <div class="btn-group-vertical" role="group">
                      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          {% for collection in collections %}
                          <li>
                            <form method="POST" action="collect/{{ launch.name }}/{{ collection.id }}">
                              <button type="submit" class="dropdown-item">
                                {{ collection.name }}
                              </button>
                            </form>
                          </li>
                          {% endfor %}
                      </ul>
                      <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Collect
                      </button>
                  </div>
                </div>
              </div>
              <a href="/launch/{{ launch.name }}">
                <img class="home-image-wrapper" src="{{ launch.img_url }}" alt="" >
              </a>
              <p><span class="launch-date">Date: {{ launch.date }}</span></p>
              <p>Debrief: {{ launch.description }}</p>
            </a>
            {% if g.user %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
  </div>
{% endblock %}
