{% extends 'base.html' %}

{% block content %}

  <div class="bg"></div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <ul class="list-group no-hover" id="launch">
        <li class="list-group-item">
            {% for data in launch %}
              <li class="list-group-item">
                <div class="message-area">
                  <span class="text-muted">{{ data }}</span>
                </div>
              </li>
            {% endfor %}
            {% if g.user %}
                      {% if g.user.is_collected(launch) %}
                        <form method="POST"
                              action="/user/uncollect/{{ launch.id }}">
                          <button class="btn btn-primary btn-sm">Uncollect</button>
                        </form>
                      {% else %}
                        <form method="POST"
                              action="/user/collect/{{ launch.id }}">
                          <button class="btn btn-outline-primary btn-sm">Collect</button>
                        </form>
                      {% endif %}
            {% endif %}
            </div>
            <p class="single-message">{{ message.text }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}