{% extends 'base.html' %}

{% block content %}

  <div class="bg"></div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 id="all-collections-title">{{ user.username }}'s Collections</h1>
      <ul class="list-group no-hover" id="collections-list">

        {% for collection in user.collections %}
        <div id="all-collections-column">
          <li class="list-group-item" id="all-collection-list-item">
            <div class="collection-area">
              <div class="all-collection-header">
                <a class="btn btn-danger btn-lg"
                    id="collection-name" 
                    href="{{ url_for('collection_show', collection_id=collection.id) }}">
                    {{ collection.name }}
                </a>
              </div>
              <a href="{{ url_for('collection_show', collection_id=collection.id) }}">
                <img src="{{ collection.img_url }}" alt="" id="collection-image">
              </a>
              <div class="collection-description">{{ collection.description }}</div>
              <div class="fs-6 collection-description">Created: {{ collection.createdDate.strftime('%d %B %Y') }}</div>
            </div>
          </li>
        </div>
        {% endfor %}
        
      </ul>
    </div>
  </div>

{% endblock %}