{% extends 'base.html' %}
{% block content %}

  <div class="form-control">
      <form method="POST">
        {{ form.csrf_token }}
        <h3>Initialize a collection to store your favorite space missions!</h3>
        <div>
          {% if form.description.errors %}
            {% for error in form.description.errors %}
              <span class="text-danger">
            {{ error }}
          </span>
            {% endfor %}
          {% endif %}
          <p>Collection name: </p>
          {{ form.name(placeholder="Name", class="form-control", rows="1")}}
          <p>Description of collection: </p>
          {{ form.description(placeholder="What's the mission briefing on this collection?", class="form-control", rows="3") }}
          <p>Image for the collection: </p>
          {{ form.img_url(class="form-control", rows="1")}}
        </div>
        <button class="btn btn-danger btn-block" id="collection-btn">Initiate Launch Sequence</button>
      </form>
  </div>

{% endblock %}