{% extends 'base.html' %}

{% block content %}

<div class="row collection-row">
  <div class="col-4 collection-header-column">
    <div class="collection-header">
      <h1 class="collection-name">{{ collection.name }}</h1>
      <div class="timestamp">{{ collection.createdDate.strftime('%d %B %Y') }}</div>
      <div class="single-message">{{ collection.description }}</div>
      <div class="collection-image">
        <a href="{{ collection.img_url }}">
          <img src="{{ collection.img_url }}" alt="Add an image for this collection" class="img-fluid">
        </a>
      </div>
    </div>
    <div class="collection-footer">
      <a href="/collection/user/{{ user.id }}" class="btn btn-outline-secondary">Back</a>
      {% if g.user.id == user.id %}
        <a href="/collection/edit/{{ collection.id }}" class="btn btn-outline-primary">Edit</a>
        <form method="POST" action="/collection/{{ collection.id }}/delete">
          <button type="delete" class="btn btn-outline-danger">Delete</button>
        </form>
      {% endif %}
    </div>
  </div>

  <div class="col-8 collection-column">
    <div class="collection-area">
      <div class="collection-body">
        <ul class="list-group" id="collection-detail-list">
          {% if launches %}
            {% for launch in launches %}
              <div class="row" id="collection-detail-row">
                <a href="/launch/{{ launch.name }}" id="collection-details">
                  <li class="list-group-item" id="section-title">{{ launch.name }}</li>
                  <li class="list-group-item"><b>Launch ID:</b> {{ launch.id }}</li>
                  <li class="list-group-item"><b>Launch Date:</b> {{ launch.launch_date }}</li>
                  <li class="list-group-item"><b>Pad:</b> {{ launch.pad_name }}</li>
                  <li class="list-group-item"><b>Status:</b> {{ launch.status }}</li>
                  </a>
                <a href="/launch/uncollect/{{ launch.id }}" class="btn btn-outline-danger btn-sm">Uncollect</a>
              </div>
            {% endfor %}
          {% else %}
            <div class="row" id="collection-detail-row">
                <li class="list-group-item" id="section-title">Such empty...</li>
                <li class="list-group-item">Collect launches to have them all stored here!</li>
              <a href="/launch/index" class="btn btn-outline-danger">Start Collecting</a>
            </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}