<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The Launch Tracker</title>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>

<body class="{% block body_class %}{% endblock %}">
  <nav class="navbar navbar-expand-lg navbar-light py-3 shadow-sm">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/static/images/favicon.ico" alt="logo">
          <span>Launch Tracker</span>
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if request.endpoint != None %}
        <li>
          <form class="navbar-form navbar-right" action="/launch/search">
            <input name="q" class="form-control" placeholder="Search Launch Tracker" id="search">
            <button class="btn btn-default">
              <span class="fa fa-search"></span>
            </button>
          </form>
        </li>
        {% endif %}
        {% if g.user.id %}
          <li>
            <a href="/user/profile/{{ g.user.id }}">
              <img src="{{ g.user.img_url }}" alt="{{ g.user.username }}">
            </a>
          </li>
          <li><a href="/launch/index">Launches</a></li>
          <li><a href="/collection/user/{{ g.user.id }}">Collections</a></li>
          <li><a href="/collection/new">New Collection</a></li>
          <li><a href="/logout">Logout</a></li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/register">Join</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
  </div>

</body>
</html>