{% extends 'base.html' %}

{% block content %}

  <div class="row justify-content-md-center">
    <div class="col-md-6" id="edit-profile-column">
      <h2 class="join-message">Edit Your Profile</h2>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {% set value = getattr(user, field.name, '') %}
          <span class="edit-collection-label">{{ field.name | title }}</span>
          {{ field(class="form-control", value=value) }}
        {% endfor %}

        <p>To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <div class="edit-btn-area">
          <a href="/user/profile/{{ user.id }}" class="btn btn-outline-secondary text-danger">Abort Mission</a>
          <button class="btn btn-danger">Launch!</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}