{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}

  <div id="login-column">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Ready to blast off?</h2>

        <form method="POST" id="user_form">
          {{ form.hidden_tag() }}

          {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
              <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <label class="form-label"> {{ field.label.text }} </label>
            {{ field(placeholder=field.label.text, class="form-control") }}
          {% endfor %}

          <button class="btn btn-danger btn-block btn-lg" id="btn-login">Launch</button>
        </form>
        <a href="/" class="btn btn-secondary btn-lg" id="btn-cancel">Back</a>
    </div>
  </div>

{% endblock %}