{% extends 'base.html' %}

{% block content %}

<img src="https://picsum.photos/450/200" alt="" id="rocket-hero" class="full-width">

<img src="{{ user.img_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row full-width">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <li class="stat">
            <p class="small">Collections</p>
            <h4>
              <a href="/collection/user/{{ user.id }}">{{ user.collections | length }}</a>
            </h4>
          </li>
          <div class="ml-auto">
            <a href="/user/profile/edit" class="btn btn-outline-secondary">Edit Profile</a>
            <form method="POST" action="/user/delete" class="form-inline">
              <button class="btn btn-outline-danger ml-2">Delete Profile</button>
            </form>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h4 id="sidebar-username">{{ user.username }}</h4>
    <p>{{ user.bio }}</p>
    <p class="user-location"><span class="fa fa-map-marker"></span>{{ user.location }}</p>
  </div>

  <li class="list-group-item">
    {% if collection | length > 0 %}
    <a href="/collection/{{ collection.id }}" class="message-link">
      
    <div class="message-area">
      <a href="/user/{{ user.id }}">@{{ user.username }}</a>
      <span class="text-muted">{{ collection.createdDate.strftime('%d %B %Y') }}</span>
      <p>{{ collection.description }}</p>
    </div>
    {% endif %}
    <a href="/user/{{ user.id }}">
      <img src="{{ user.img_url }}" alt="user image" class="timeline-image">
    </a>
      
  </li>
</div>

{% endblock %}