{% extends 'base.html' %}

{% block content %}

<img src="https://picsum.photos/450/200" alt="" id="rocket-hero" class="full-width">

<img src="{{ user.img_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row full-width">
  <div class="container-fluid" id="user-nav">
    <div class="row justify-content-end">
      <div class="col-9">
        <ul class="user-stats nav nav-pills">
          <div class="stat">
            <h4>Collections:
              <a href="/collection/user/{{ user.id }}" class="btn btn-danger">{{ user.collections | length }}</a>
            </h4>
          </div>
          {% if user == g.user %}
          <div class="ml-auto">
            <a href="/user/profile/edit" class="btn btn-secondary">Edit Profile</a>
            <form method="POST" action="/user/delete" class="form-inline">
              <button class="btn btn-outline-danger ml-2">Delete Profile</button>
            </form>
          </div>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container-fluid" id="profile-box">
    <div class="col-sm-3 user-card">
      <h4 id="sidebar-username">{{ user.username }}</h4>
      <p>{{ user.bio }}</p>
      <p class="user-location"><span class="fa fa-map-marker"></span>{{ user.location }}</p>
    </div>
    <div class="col-9">
      <li class="list-group-item">
        {% if collection | length > 0 %}
        <a href="/collection/{{ collection.id }}" class="collection-link">
        <div class="collection-area">
          {% for collection in collections %}
            <a href="/collection/{{ collection.id }}">{{ collection.name }}</a>
            <span class="text-muted">{{ collection.createdDate.strftime('%d %B %Y') }}</span>
            <p>{{ collection.description }}</p>
          {% endfor %}
        </div>
        {% endif %}
      </li>
    </div>
  </div>
</div>

{% endblock %}